body{
    background-color: #211E1E !important;
    color:  white !important;
}
:root{
    font-weight: 300 !important;
    font-size: 16px;
}
*{
    font-weight: 300 !important;

}
.table td{
padding: 38px;
}
th{
    font-weight: 300 !important;
    font-size: 16px !important;
}
table { border-collapse:collapse  !important;font-weight: 300;}
tr {
    border-top: 12px solid #211E1E;
    border-bottom: 12px solid #211E1E;
}